@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  width: 100%;
  height: 100vh;
  background: #022057; }

.menu-btn {
  border: none;
  background: none;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 50px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
  mix-blend-mode: difference; }
  .menu-btn:focus {
    outline: none; }
  .menu-btn .content {
    position: relative;
    width: 100%;
    height: 100%; }
    .menu-btn .content .text {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%) translateY(var(--transition-y));
      -ms-transform: translate(-50%, -50%) translateY(var(--transition-y));
      transform: translate(-50%, -50%) translateY(var(--transition-y));
      -webkit-transition: -webkit-transform 150ms ease;
      transition: -webkit-transform 150ms ease;
      -o-transition: transform 150ms ease;
      transition: transform 150ms ease;
      transition: transform 150ms ease, -webkit-transform 150ms ease;
      text-transform: uppercase;
      font-weight: 800;
      font-size: .675rem;
      font-family: 'Montserrat';
      color: #ebebeb; }
      .menu-btn .content .text:nth-child(1) {
        --transition-y: 0; }
      .menu-btn .content .text:nth-child(2) {
        --transition-y: 150%; }
  .menu-btn.active .content .text:nth-child(1) {
    --transition-y: -150%; }
  .menu-btn.active .content .text:nth-child(2) {
    --transition-y: 0%; }

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5; }
  .nav__inner {
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .nav--items {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav--item {
    position: relative;
    width: 50%;
    height: 120px;
    overflow: hidden; }
    .nav--item:not(:last-of-type) {
      margin-bottom: 2rem; }
  .nav--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%); }
    .nav--link-text {
      height: 100%;
      position: relative;
      font-family: "Kanit";
      font-weight: 800;
      font-size: 85px;
      text-transform: uppercase;
      letter-spacing: 6px;
      color: transparent;
      -webkit-text-stroke: 2px #ebebeb; }
      .nav--link-text::after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        top: 0;
        color: #ebebeb;
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        -webkit-transition: -webkit-clip-path 400ms ease;
        transition: -webkit-clip-path 400ms ease;
        -o-transition: clip-path 400ms ease;
        transition: clip-path 400ms ease;
        transition: clip-path 400ms ease, -webkit-clip-path 400ms ease; }
    .nav--link:hover .nav--link-text::after {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  .nav--item-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #ebebeb;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
  .nav--transition-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #033591;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0); }
